<h2>Sign up</h2>
<%= nested_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :First_Name %><br />
  <%= f.text_field :first_name  %></div>

  <div><%= f.label :Last_Name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  <br>

  <p> Subscribe categories </p>
		<%= f.fields_for :subscriptions do |task_form| %>
		  <% Category.all.each do |d| %>
			<%= task_form.text_field :category_id %>
			<%= task_form.link_to_remove "Remove this task" %>
		<% end %>
		<% end %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
