<html>
<head>
  <title>SmeSolution</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style ="font-family:ubuntu">

<!-- BEGIN: Sticky Header -->
<div id="header_container">
 <div id="header">
  <div id = "authenticate" style ="float:right">
  <% if signed_in? %>
    <i style ="text-transform:capitalize;"><%= current_user.email %> |
    <%= link_to "Go Out", destroy_user_session_path, :method => :delete %></i>
  <% else %>
    <div id = "header-fixed" style="float:right"><strong>
    <%= link_to "Register", new_user_registration_path %> /
    <%= link_to "Sign in", new_user_session_path %> </strong> </div>
  <% end %>
  </div>
 </div>
</div>
<!-- END: Sticky Header -->

<!-- BEGIN: Page Content -->
<div id="container">
  <% flash.each do |name, msg| %>
	<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	  <%= msg %>
	</div>
  <% end %>
 <div id="content">
	<%= yield %>
 </div>
</div>
<!-- END: Page Content -->

<!-- BEGIN: Sticky Footer -->
<div id="footer_container">
    <div id="footer">
        Footer Content
    </div>
</div>
<!-- END: Sticky Footer -->

